<!DOCTYPE html>
<html>
    <head>
        <title>High School Countdown</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/countdown.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" ></script>
        <script>
		var subjdata = {{ subject|safe }}
        </script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <script src="/static/countdown.js"></script>
    </head>
	<body>
		<div id="exam-container">
			<span class="not-that-big" id="exam-label">HSC</span>
			<div id="in-container">
				<span id="in-label">ends in</span>
				<div class="big" id="countdown-label">
					<span id="countdown-label" class="big">a long time...</span>
				</div>
			</div>
		</div>
        <span class="animated" id="fancy-bar">
            <a href="https://github.com/fourkbomb/hsceebs">source</a>
            &nbsp;
            <a href="/?nord">start again</a>
			&nbsp;
			<span id="subj-name"></span>
        </div>
	</body>
</html>

